{% extends "base.html" %}

{% block content %}

<h3>Links to Data Sources</h3>
<a href="https://www.citibikenyc.com/system-data">Citibike Ride Data</a>
<br>
<a href="https://docs.mapbox.com/api/navigation/#directions">Mapbox Directions API</a>
<br>
<a href="https://data.cityofnewyork.us/Public-Safety/accidents/yjf6-ewhz">NYC Open Data - Accidents</a>
<br>
<a href="https://data.cityofnewyork.us/Transportation/Bicycle-Routes/7vsa-caz7">NYC Open Data - Bike Lanes</a>
<br>
<h4>Link to Github Repo</h4>
<a href="https://github.com/chesterpoon8/bike_accidents_nyc">Github Repo</a>
{% endblock %}
