{% extends "base.html" %}

{% block content %}

<h3>NYC Map and the Most Dangerous Intersections</h3>
<p>This map shows the location of all bicycle related accidents overlayed
  with the location of protected and unprotected bicycle lanes. You can toggle
  through other overlay features by hovering over the icon on
  the top right corner of the map.
</p>

<iframe height="700" src="/static/map_nyc.html" width="1160"></iframe>
<br>

<h3>Most Dangerous Intersections</h3>

<p>This table lists the most dangerous intersections in NYC, which is
  defined as any intersection with 10 or more accidents since the summer
  of 2012.</p>

<iframe class="mapdata" height="300" src="/static/crash_table.html" width="475"></iframe>
<iframe name="iframe_map" class="mapdata" height="300" src="../static/crash_maps/MANHATTANCHRYSTIE_STREET_&_DELANCEY_STREET.html" width="625"></iframe>

{% endblock %}
